<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    @await Component.InvokeAsync("Logo")
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="/home/index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Ana Sayfa">Ana Sayfa</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Genel İşlemler</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Personel">Personel</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Personel" asp-action="Listele" class="menu-link">
                        <div data-i18n="Personel Listesi">Personel Listesi</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Personel" asp-action="Hesap" class="menu-link">
                        <div data-i18n="Personel Hesabı">Personel Hesabı</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Personel" asp-action="Ekle" class="menu-link">
                        <div data-i18n="Personel Ekleme">Personel Ekleme</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="pages-account-settings-connections.html" class="menu-link">
                        <div data-i18n="Connections">Connections</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-abacus"></i>
                <div data-i18n="Organizasyon">Organizasyon</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Departman" asp-action="Listele" class="menu-link">
                        <div data-i18n="Departman Bilgileri">Departman Bilgileri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Servis" asp-action="Listele" class="menu-link">
                        <div data-i18n="Servis Bilgileri">Servis Bilgileri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Unvan" asp-action="Listele" class="menu-link">
                        <div data-i18n="Unvan Bilgileri">Unvan Bilgileri</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Kimlik Doğrulama">Kimlik Doğrulama</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
                        <div data-i18n="Şifre Yenileme">Şifre Yenileme</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sıramatik İşlemleri</span>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-arch"></i>
                <div data-i18n="Bankolar">Bankolar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Banko" asp-action="Listele" class="menu-link">
                        <div data-i18n="Banko Bilgileri">Banko Bilgileri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Banko" asp-action="PersonelListele" class="menu-link">
                        <div data-i18n="Banko Personelleri">Banko Personelleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Banko" asp-action="AltIslemlerListele" class="menu-link">
                        <div data-i18n="Banko Alt İşlemleri">Banko Alt İşlemleri</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-candles"></i>
                <div data-i18n="Kanallar">Kanallar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanalIslemleriListele" class="menu-link">
                        <div data-i18n="Kanal İşlemleri">Kanal İşlemleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanalAltIslemleriListele" class="menu-link">
                        <div data-i18n="Alt Kanal İşlemleri">Alt Kanal İşlemleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanalPersonelleri" class="menu-link">
                        <div data-i18n="Kanal Personelleri">Kanal Personelleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="PersonelAltKanalEslestir" class="menu-link">
                        <div data-i18n="Personel/Alt Kanal Eşleştirme">Personel/Alt Kanal Eşleştirme</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanalEslestir" class="menu-link">
                        <div data-i18n="Kanal/Alt Kanal Eşleştirme">Kanal/Alt Kanal Eşleştirme</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanallarListele" class="menu-link">
                        <div data-i18n="Sabit Kanal İşlemleri">Sabit Kanal İşlemleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kanal" asp-action="KanallarAltListele" class="menu-link">
                        <div data-i18n="Sabit Alt Kanal İşlemleri">Sabit Alt Kanal İşlemleri</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-slideshow"></i>
                <div data-i18n="Kiosklar">Kiosklar</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kiosk" asp-action="KioskIslemleriListele" class="menu-link">
                        <div data-i18n="Kiosk İşlemleri">Kiosk İşlemleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kiosk" asp-action="KioskEslestir" class="menu-link">
                        <div data-i18n="Kiosk/Alt Kanal Eşleştirme">Kiosk/Alt Kanal Eşleştirme</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Kiosk" asp-action="KioskListele" class="menu-link">
                        <div data-i18n="Sabit Kiosk İşlemleri">Sabit Kiosk İşlemleri</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-tv"></i>
                <div data-i18n="Tvler">Tvler</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Tv" asp-action="TvIslemleriListele" class="menu-link">
                        <div data-i18n="Tv İşlemleri">Tv İşlemleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Tv" asp-action="TvEslestir" class="menu-link">
                        <div data-i18n="Tv/Banko Eşleştirme">Tv/Banko Eşleştirme</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Pdks</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-street-view"></i>
                <div data-i18n="Pdks Bilgileri">Pdks Bilgileri</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Pdks" asp-action="Hareketleri" class="menu-link">
                        <div data-i18n="Giriş/Çıkış Bilgileri">Giriş/Çıkış Bilgileri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Pdks" asp-action="IzinTalep" class="menu-link">
                        <div data-i18n="İzin Talep Sistemi">İzin Talep Sistemi</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Eshot" asp-action="Hareketleri" class="menu-link">
                        <div data-i18n="Personel Çalışma Gün Sayıları">Personel Çalışma Gün Sayıları</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Pdks" asp-action="IzinIslemleri" class="menu-link">
                        <div data-i18n="İnsan Kaynakları - İzin Kayıt Sorumlusu">İnsan Kaynakları - İzin Kayıt Sorumlusu</div>
                    </a>
                </li>
                <li class="menu-item open" style="">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div class="text-truncate" data-i18n="Raporlar">Raporlar</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a asp-area="" asp-controller="Pdks" asp-action="SgmRapor" class="menu-link">
                                <div class="text-truncate" data-i18n="Sgm Mesai Listesi">Sgm Mesai Listesi</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a asp-area="" asp-controller="Pdks" asp-action="PersonelRapor" class="menu-link">
                                <div class="text-truncate" data-i18n="Personel Mesai Listesi">Personel Mesai Listesi</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Eshot</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-bus"></i>
                <div data-i18n="Eshot Bilgileri">Eshot Bilgileri</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="" asp-controller="Eshot" asp-action="Hareketleri" class="menu-link">
                        <div data-i18n="Eshot Haraketleri">Eshot Haraketleri</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Eshot" asp-action="KullanimHakki" class="menu-link">
                        <div data-i18n="Eshot Kullanım Hakkı">Eshot Kullanım Hakkı</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a asp-area="" asp-controller="Eshot" asp-action="UcretBilgileri" class="menu-link">
                        <div data-i18n="Eshot Ücret Bilgileri">Eshot Ücret Bilgileri</div>
                    </a>
                </li>
                
            </ul>
        </li>
        
    </ul>
</aside>