@using SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities

@model List<SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities.KioskIslemGruplariAltIslemlerEslestirmeSayisiRequestDto>

@{
    Layout = null;
    ViewData["Title"] = "SGK Kiosk Ana Ekran";
}

@section Styles {
    <style>
        html {
            overflow-y: auto; /* Dikey kaydırma çubuğunu etkinleştir */
        }

        body {
            background-color: #f0f8ff;
            margin: 0;
            padding: 0;
        }

        .card:hover {
            background-color: #d0d8e0;
            transform: scale(2.00);
        }

        .card-title {
            font-weight: bold;
            color: #000080;
        }

        .card-body {
            height: 500px; /* Sabit bir yükseklik belirleyin */
            overflow-y: auto; /* İçeriğin boyutunu aşması durumunda dikey kaydırma çubuğunu etkinleştir */
        }
    </style>
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_FavIcon")
    @await Html.PartialAsync("_Fonts")
    @await Html.PartialAsync("_Styles")
    @await Html.PartialAsync("_Scripts")
</head>
<body>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="text-center mb-4">
                        <img src="~/img/logos/sgk_logo.svg" alt="SGK Logo" class="img-fluid mb-2" style="max-height: 100px;" />
                        <h1 class="display-5">KONAK SGM</h1>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @foreach (var kiosk in Model)
                        {
                            @if (kiosk.EslestirmeSayisi > 0)
                            {
                                <div class="col">
                                    <div class="card h-100 text-center">
                                        <div class="card-body d-flex align-items-stretch justify-content-center p-0" style="height: 150px;">
                                            <a class="btn btn-primary w-100" href="/Kiosk/KioskAltKanallar?kioskIslemGrupId=@kiosk.KioskIslemGrupId" role="button" style="font-weight:bold;font-family: 'Roboto', sans-serif;font-size: 2.3rem; padding: 0.5rem;">@kiosk.KioskIslemGrupAdi</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
