@{
    @model SocialSecurityInstitution.BusinessObjectLayer.CommonDtoEntities.LoginDto;
    ViewData["Title"] = "Login";
    Layout = null;

    var errorMessage = TempData["ErrorMessage"] as string;
}

<!DOCTYPE html>

<html lang="tr" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="/" data-template="vertical-menu-template">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login Sayfası</title>


    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 HTML Admin Dashboard Template built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="/vendor/libs/%40form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/vendor/css/pages/page-auth.css">

    <!-- Helpers -->
    <script src="/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/js/config.js"></script>

    <style>
        .container {
            display: flex;
            justify-content: center; /* Yatay ortala */
            align-items: center; /* Dikey ortala */
            width: 100%;
        }

    </style>

</head>

<body>

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="container">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150" height="150"
                                 viewBox="0 0 150 72.7" style="enable-background:new 0 0 150 72.7;" xml:space="preserve">

                            <style type="text/css">
                                .st0 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: url(#SVGID_1_);
                                }

                                .st1 {
                                    fill-rule: evenodd;
                                    clip-rule: evenodd;
                                    fill: #0087C2;
                                }
</style>
                            <g id="SGK_LOGOTYPE_00000021814550640813195680000014554792784669715638_">
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0.2736" y1="29.6472" x2="149.5569" y2="29.6472">
                            <stop offset="0" style="stop-color:#154474" />
                            <stop offset="1" style="stop-color:#0087C2" />
                            </linearGradient>
                            <path class="st0" d="M71.7,0.6C41.5,1.5,23.1,7.1,10.9,17C-1.4,26.8-0.5,40.2,1.4,45.3c1.6,4.4,2.4,5.5,4.5,8.2
				c2.7,3.6,5.2,5.2,5.2,5.2S-8.4,32.9,25.8,21c34.2-11.9,95,0.5,95,0.5l28.7-12.7C149.6,8.8,101.9-0.3,71.7,0.6z" />
                            <path class="st1" d="M19.9,54.4c-0.1-0.1-0.3-0.1-0.5,0c-0.2,0.1-0.4,0.1-0.5,0.3c0.1,0.6,0.2,1.4,0.3,2.6c0.1,1.1,0.3,2.2,0.5,3.2
				c0.2,1,0.4,1.7,0.5,2c0.5,0.3,1.5,0.7,2.9,1c1.4,0.3,2.9,0.5,4.6,0.5c3.8-0.1,6.8-1,8.9-2.8c2.1-1.8,3.1-4.2,3.2-7.2
				c0-1.8-0.5-3.4-1.5-4.8c-1-1.3-2.3-2.6-4-3.7c-1-0.7-2-1.3-2.9-1.8c-0.9-0.6-1.9-1.2-2.9-2c-1.1-0.8-1.9-1.7-2.5-2.6
				c-0.6-1-0.9-2-0.9-3.3c0-1.5,0.5-2.8,1.4-3.8c0.9-1,2.3-1.5,3.9-1.5c0.8,0,1.6,0.1,2.2,0.2c0.7,0.2,1.3,0.5,1.9,0.9
				c0.7,0.4,1.3,1.1,1.6,2c0.4,0.9,0.6,2.2,0.8,3.9c0.1,0.1,0.2,0.1,0.5,0c0.2,0,0.4-0.1,0.5-0.2c0.1-1.6,0.3-2.9,0.4-4.1
				c0.2-1.2,0.3-2.2,0.5-3.2c-1-0.1-2.1-0.2-3.4-0.4s-2.7-0.3-4.5-0.4c-3,0-5.6,0.8-7.6,2.4c-2,1.6-3.1,3.9-3.2,6.9
				c0,2.3,0.7,4.3,2,5.9c1.4,1.6,3.3,3.2,6,4.9c2.2,1.4,3.7,2.7,4.7,3.9c1,1.2,1.4,2.6,1.4,4.2c0,1.7-0.5,3-1.4,3.9
				c-0.9,0.9-2.1,1.4-3.7,1.4c-1,0-1.9-0.1-2.8-0.3c-0.9-0.2-1.6-0.6-2.4-1c-1-0.6-1.8-1.5-2.4-2.6C21,57.7,20.4,56.3,19.9,54.4z" />
                            <path class="st1" d="M75.1,61.1c-0.4-0.2-0.7-0.3-0.8-0.5c-0.1-0.2-0.2-0.4-0.3-0.8c-0.1-0.6-0.1-1.4-0.1-2.4c0-1,0-2,0.1-3
				c0-1.5,0.1-2.5,0.3-3c0.2-0.5,0.6-0.7,1.1-0.8c0.2-0.1,0.4-0.2,0.6-0.2s0.5-0.1,0.7-0.2c0.1-0.1,0.1-0.2,0.1-0.5
				c0-0.2,0-0.4-0.1-0.5c-0.5,0-1.2,0.1-2,0.1c-0.8,0-2.1,0.1-3.7,0.1c-1.5,0-2.9,0-4.3-0.1c-1.4-0.1-2.6-0.1-3.5-0.1
				c-0.1,0.1-0.1,0.2-0.1,0.5c0,0.2,0,0.4,0.1,0.5c0.5,0,1,0.1,1.4,0.1s0.8,0.1,1.3,0.2c0.8,0.1,1.3,0.4,1.6,0.8
				c0.3,0.4,0.5,1.2,0.5,2.3c0.1,1,0.1,2.1,0.1,3.4c0,1.3-0.1,2.4-0.2,3.2c-0.1,0.5-0.2,1-0.4,1.3c-0.2,0.3-0.5,0.6-0.9,0.7
				c-0.3,0.1-0.6,0.2-1.1,0.3c-0.5,0.1-1.1,0.1-1.7,0.1c-3.9-0.1-7-1.6-9.2-4.6c-2.2-3-3.4-7.1-3.4-12.3c0.1-5.3,1.2-9.2,3.4-11.6
				c2.2-2.4,4.9-3.6,8.2-3.5c1.6,0,3.1,0.2,4.3,0.5c1.2,0.3,2.3,0.8,3.3,1.5c0.7,0.5,1.2,1.2,1.6,2.1c0.4,0.9,0.6,2.3,0.8,4.1
				c0.1,0.1,0.3,0.1,0.6,0.1c0.3,0,0.5-0.1,0.5-0.2c0-1.4,0.1-2.9,0.3-4.5c0.2-1.6,0.4-2.8,0.6-3.7c-1.2-0.1-2.7-0.4-4.5-0.7
				c-1.8-0.3-3.7-0.5-5.9-0.5c-2.3,0-4.3,0.2-6,0.5c-1.6,0.3-3.2,0.8-4.6,1.4c-3,1.3-5.3,3.3-6.9,5.9c-1.7,2.6-2.5,5.7-2.5,9.3
				c0,6,1.7,10.5,4.9,13.3C52.5,62.6,57.1,64,63,64c2.4,0,4.8-0.3,7-0.8c2.2-0.5,3.9-0.9,4.9-1.3c0.1-0.1,0.1-0.2,0.1-0.4
				C75.1,61.3,75.1,61.2,75.1,61.1z" />
                            <path class="st1" d="M98.3,31c0.7,0.1,1.3,0.2,1.7,0.3c0.4,0.1,0.9,0.2,1.2,0.3c0.4,0.1,0.6,0.3,0.8,0.4c0.1,0.2,0.2,0.4,0.2,0.5
				c0,0.5-0.2,1-0.6,1.7c-0.4,0.6-0.9,1.4-1.5,2.2c-1.9,2.4-3.7,4.6-5.5,6.4c-1.8,1.8-3.4,3.1-4.6,3.8c-0.1,0-0.1,0.1-0.1,0.3
				c0,0.1,0,0.2,0,0.3c0.1,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.2,0.3,0.4,0.4c0.9,1.3,1.9,2.7,3.1,4.3c1.2,1.6,2.4,3.1,3.6,4.6
				c1.2,1.5,2.2,2.7,3.1,3.7c0.4,0.4,0.9,0.9,1.4,1.3c0.5,0.4,1.1,0.8,1.7,1c0.5,0.2,1.4,0.3,2.6,0.4c1.2,0.1,2.5,0.1,3.8,0.1
				c1.3,0,2.5,0,3.4-0.2c0.1-0.1,0.1-0.2,0.2-0.5c0-0.2,0-0.4,0-0.5c-0.6,0-1.1-0.1-1.5-0.1c-0.5-0.1-0.9-0.2-1.4-0.4
				c-0.4-0.1-0.7-0.3-1.1-0.5c-0.4-0.2-0.7-0.5-1.1-0.9c-1.2-1.1-2.6-2.7-4.4-4.7c-1.8-2.1-3.5-4.1-5.2-6.2c-1.6-2.1-2.8-3.8-3.5-5
				v-0.2c1.1-1.2,2.4-2.6,3.9-4.4c1.5-1.7,3-3.5,4.5-5.2c1.3-1.5,2.3-2.4,3.2-2.8c0.9-0.4,2-0.7,3.3-0.8c0.1-0.1,0.1-0.3,0.1-0.5
				c0-0.2,0-0.4-0.1-0.4l-6.4,0.2c-0.9,0-1.7,0-2.5-0.1c-0.8,0-1.8-0.1-3-0.1c-0.1,0.1-0.1,0.2-0.1,0.5S98.2,31,98.3,31z M89.4,46.2
				c0-1,0-2.2,0-3.7c0-1.5,0-2.9,0-4.4c0-1.5,0-2.6,0-3.5c0-0.9,0.1-1.6,0.3-2.2c0.2-0.5,0.6-0.9,1.1-1c0.3-0.1,0.6-0.2,1-0.2
				c0.4-0.1,0.8-0.1,1.2-0.2c0.1-0.1,0.1-0.3,0.1-0.5c0-0.2,0-0.4-0.1-0.4c-0.7,0-1.6,0-2.8,0.1c-1.2,0-2.4,0.1-3.6,0.1
				c-1.7,0-3.1,0-4.3-0.1c-1.2,0-2.1-0.1-2.7-0.1c-0.1,0.1-0.1,0.2-0.1,0.4c0,0.2,0,0.4,0.1,0.5c0.4,0,0.8,0.1,1.2,0.2
				s0.8,0.2,1.2,0.3c0.6,0.2,0.9,0.5,1.1,1c0.2,0.5,0.3,1.1,0.3,1.9c0,1.2,0,2.9,0,5c0,2.1,0,4.2,0,6.4c0,1.5,0,3.1,0,4.8
				c0,1.7,0,3.2,0,4.6c0,1.4,0,2.6,0,3.5c0,1-0.2,1.8-0.4,2.4c-0.2,0.5-0.7,0.9-1.3,1c-0.3,0.1-0.7,0.1-1,0.2c-0.3,0-0.8,0.1-1.4,0.2
				c-0.1,0.1-0.1,0.2-0.1,0.4s0,0.4,0.1,0.4c0.5,0,1.4,0,2.9-0.1c1.5-0.1,2.9-0.1,4.2-0.1c1.4,0,2.7,0,3.9,0.1s2.3,0.1,3.1,0.1
				c0.1-0.1,0.1-0.2,0.2-0.4c0-0.2,0-0.4,0-0.5c-0.4,0-0.8-0.1-1.2-0.1c-0.4,0-0.8-0.1-1.2-0.2c-0.6-0.1-1.1-0.4-1.3-0.8
				c-0.3-0.4-0.4-1.2-0.4-2.2c-0.1-1.8-0.1-3.8-0.1-6.1C89.4,50.6,89.4,48.4,89.4,46.2z" />
                            <path class="st1" d="M20.1,72.4L19.4,71l0.6-0.3c0.2,0.3,0.5,0.6,0.8,0.8c0.3,0.2,0.5,0.3,0.8,0.3c0.2,0,0.3,0,0.5-0.1
				c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.2-0.4-0.7-0.6l-0.2-0.1c-0.7-0.3-1.2-0.5-1.4-0.8c-0.2-0.2-0.3-0.5-0.3-0.9c0-0.4,0.1-0.7,0.4-1
				c0.3-0.3,0.6-0.4,1-0.4c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0.1c0.1,0,0.3,0.1,0.4,0.2l0-0.2h0.4L23,69l-0.6,0.3
				c-0.2-0.3-0.4-0.6-0.6-0.7c-0.2-0.2-0.4-0.2-0.7-0.2c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.2,0.3,0.5,1,0.8l0.3,0.1
				c0.5,0.2,0.9,0.4,1.1,0.7c0.2,0.2,0.3,0.5,0.3,0.8c0,0.4-0.2,0.8-0.5,1c-0.3,0.3-0.7,0.4-1.2,0.4c-0.2,0-0.4,0-0.5-0.1
				c-0.1,0-0.3-0.1-0.4-0.2l0,0.2H20.1z" />
                            <path class="st1" d="M23.5,70c0-0.7,0.2-1.3,0.5-1.8c0.4-0.4,0.8-0.7,1.4-0.7c0.6,0,1.1,0.2,1.4,0.7c0.4,0.4,0.5,1,0.5,1.8
				c0,0.7-0.2,1.3-0.6,1.8c-0.4,0.5-0.9,0.7-1.4,0.7c-0.6,0-1.1-0.2-1.4-0.7C23.7,71.4,23.5,70.8,23.5,70z M24.7,70
				c0,0.6,0.1,1,0.2,1.3c0.1,0.3,0.3,0.5,0.5,0.5c0.2,0,0.4-0.2,0.5-0.5c0.1-0.3,0.2-0.8,0.2-1.3c0-0.6-0.1-1-0.2-1.3
				c-0.1-0.3-0.3-0.5-0.5-0.5c-0.2,0-0.4,0.2-0.5,0.5C24.8,69.1,24.7,69.5,24.7,70z" />
                            <path class="st1" d="M28.4,72.4L27.7,71l0.6-0.3c0.2,0.3,0.5,0.6,0.8,0.8c0.3,0.2,0.5,0.3,0.8,0.3c0.2,0,0.3,0,0.5-0.1
				c0.1-0.1,0.2-0.2,0.2-0.4c0-0.2-0.2-0.4-0.7-0.6l-0.2-0.1c-0.7-0.3-1.2-0.5-1.4-0.8c-0.2-0.2-0.3-0.5-0.3-0.9c0-0.4,0.1-0.7,0.4-1
				c0.3-0.3,0.6-0.4,1-0.4c0.1,0,0.2,0,0.2,0c0.1,0,0.1,0,0.2,0.1c0.1,0,0.3,0.1,0.4,0.2l0-0.2h0.4l0.6,1.3l-0.6,0.3
				c-0.2-0.3-0.4-0.6-0.6-0.7s-0.4-0.2-0.7-0.2c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.2,0.3,0.5,1,0.8l0.3,0.1
				c0.5,0.2,0.9,0.4,1.1,0.7c0.2,0.2,0.3,0.5,0.3,0.8c0,0.4-0.2,0.8-0.5,1c-0.3,0.3-0.7,0.4-1.2,0.4c-0.2,0-0.4,0-0.5-0.1
				c-0.1,0-0.3-0.1-0.4-0.2l0,0.2H28.4z" />
                            <path class="st1" d="M32.7,72.4v-0.6h0h0c0.3,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-0.9l-1-1.6c-0.1-0.2-0.2-0.3-0.3-0.4
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.4v0.6l-0.1,0h-0.1c-0.1,0-0.2,0-0.2,0c0,0-0.1,0.1-0.1,0.1c0,0,0,0.1,0.1,0.2l0,0.1l0.5,0.9
				l0.5-0.9l0.1-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0h-0.1h-0.1v-0.6h1.8v0.6h-0.1
				c-0.2,0-0.3,0-0.4,0.1c-0.1,0-0.2,0.2-0.3,0.4l-0.9,1.6v0.9c0,0.2,0,0.4,0.1,0.4c0.1,0.1,0.2,0.1,0.4,0.1H35h0.1v0.6H32.7z" />
                            <path class="st1" d="M37.5,70.4l0.9,0l-0.5-1.6L37.5,70.4z M35.6,72.4v-0.6h0.1c0.2,0,0.3,0,0.4-0.1c0.1-0.1,0.2-0.2,0.3-0.5
				l1.2-3.5h1.1l1.2,3.6c0.1,0.2,0.1,0.4,0.2,0.4c0.1,0.1,0.2,0.1,0.3,0.1h0.1h0.1v0.6h-2.3v-0.6l0.2,0c0.1,0,0.2,0,0.3-0.1
				c0.1,0,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1l0-0.1l-0.1-0.3h-1.3l-0.2,0.5l0,0.1l0,0.1c0,0,0,0.1,0.1,0.1
				c0.1,0,0.1,0,0.2,0h0h0.2v0.6H35.6z" />
                            <path class="st1" d="M40.7,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.4v0.6H43c-0.3,0-0.5,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.4v3h0.1c0.4,0,0.7-0.1,0.9-0.3
				c0.2-0.2,0.5-0.5,0.7-0.9l0.6,0.2L44,72.4H40.7z" />
                            <path class="st1" d="M50.9,72c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0-0.2,0c0,0,0,0-0.1,0c0,0-0.1,0.1-0.2,0.1c-0.4,0.2-0.7,0.3-1,0.3
				c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2-0.1-0.4-0.1c-0.2-0.1-0.4-0.2-0.6-0.4c-0.2-0.2-0.4-0.5-0.6-0.8c-0.1-0.2-0.1-0.3-0.1-0.5
				c0-0.2-0.1-0.4-0.1-0.5c0-0.3,0-0.6,0.1-0.9c0.1-0.3,0.2-0.5,0.4-0.8c0.2-0.2,0.4-0.4,0.7-0.5c0.3-0.1,0.5-0.2,0.8-0.2
				c0.2,0,0.3,0,0.4,0.1c0.1,0,0.3,0.1,0.4,0.2l0-0.2h0.5l0.5,1.2l-0.6,0.3c-0.2-0.3-0.4-0.5-0.5-0.7s-0.4-0.2-0.5-0.2
				c-0.2,0-0.4,0.2-0.6,0.5c-0.2,0.3-0.2,0.7-0.2,1.2c0,0.6,0.1,1,0.3,1.4c0.2,0.3,0.4,0.5,0.7,0.5c0.2,0,0.3,0,0.3-0.1
				c0.1-0.1,0.1-0.2,0.1-0.4v-0.6c0-0.2,0-0.3-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1l-0.1,0h-0.1v-0.6h2.2v0.6h-0.1c-0.2,0-0.3,0-0.3,0.1
				c0,0.1-0.1,0.2-0.1,0.4V72z" />
                            <path class="st1" d="M52.8,66.6c0-0.1,0-0.2,0.1-0.3c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3
				c0,0.1,0,0.3-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.3-0.1C52.9,66.9,52.8,66.8,52.8,66.6z M54.1,66.6
				c0-0.1,0-0.2,0.1-0.3c0.1-0.1,0.2-0.1,0.3-0.1c0.1,0,0.2,0,0.3,0.1c0.1,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.3-0.1,0.3
				c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.3-0.1C54.2,66.9,54.1,66.8,54.1,66.6z M51.6,68.3v-0.6h2.2v0.6h-0.1
				c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v2c0,0.4,0.1,0.7,0.2,0.8c0.1,0.1,0.3,0.2,0.5,0.2c0.1,0,0.2,0,0.3-0.1
				c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.2c0-0.1,0-0.2,0-0.2v-0.2v-1.9c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.3-0.1h-0.1h-0.1v-0.6H56v0.6h0c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v1.9c0,0.4,0,0.7-0.1,0.8
				c-0.1,0.2-0.1,0.3-0.3,0.5c-0.1,0.1-0.3,0.2-0.5,0.3c-0.2,0.1-0.5,0.1-0.7,0.1c-0.6,0-1-0.1-1.3-0.4c-0.3-0.3-0.4-0.7-0.4-1.2v-2
				c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H51.6z" />
                            <path class="st1" d="M58.1,72.4l-1.2-3.6c0,0,0,0,0,0c-0.1-0.3-0.3-0.5-0.7-0.5v-0.6h2.5v0.6h-0.1c-0.2,0-0.3,0-0.4,0
				c-0.1,0-0.1,0.1-0.1,0.2l0,0.1l0.1,0.2l0.7,2.1l0.7-2l0.1-0.2l0-0.2c0-0.1,0-0.1-0.1-0.2c-0.1,0-0.2,0-0.3,0H59v-0.6h2v0.6h-0.1
				c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.2,0.2-0.3,0.5l-1.2,3.5H58.1z" />
                            <path class="st1" d="M61,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1H61v-0.6h3.4l0.7,1.2l-0.6,0.3c-0.2-0.3-0.4-0.5-0.6-0.7c-0.2-0.1-0.5-0.2-0.9-0.2h-0.2v1.4h0.1
				c0.2,0,0.3,0,0.4-0.1c0,0,0.1-0.1,0.1-0.2c0-0.1,0-0.2,0-0.4h0.6V71h-0.6c0-0.3,0-0.5-0.1-0.6c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v1.5
				H63c0.4,0,0.8-0.1,1-0.2c0.3-0.1,0.5-0.4,0.7-0.8l0.6,0.2l-0.7,1.4H61z" />
                            <path class="st1" d="M65.4,72.4v-0.6h0h0c0.3,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2l1.2,2.8v-1.7c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H68H68v-0.6h1.9v0.6h0
				c-0.3,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v3.6h-0.9l-1.6-3.7v2.6c0,0.2,0,0.4,0.1,0.4c0.1,0.1,0.2,0.1,0.5,0.1h0.2v0.6H65.4z
                " />
                            <path class="st1" d="M70.1,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.4v0.6h-0.1c-0.3,0-0.5,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.4v3H72c0.4,0,0.7-0.1,0.9-0.3
				s0.5-0.5,0.7-0.9l0.6,0.2l-0.8,1.6H70.1z" />
                            <path class="st1" d="M75,66.6c0-0.1,0-0.2,0.1-0.3s0.2-0.1,0.3-0.1c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.1,0.2,0.1,0.4
				c0,0.1,0,0.3-0.1,0.4c-0.1,0.1-0.2,0.1-0.4,0.1c-0.1,0-0.2,0-0.3-0.1C75.1,66.9,75,66.8,75,66.6z M74.3,72.4v-0.6h0h0
				c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.3v0.6h0
				c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v2.4c0,0.2,0,0.4,0.1,0.5c0.1,0.1,0.2,0.1,0.4,0.1h0.1h0v0.6H74.3z" />
                            <path class="st1" d="M76.9,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.2v0.6h0c-0.2,0-0.3,0-0.4,0.1c0,0.1-0.1,0.2-0.1,0.5l0,0.9l0.9-1.1l0.1-0.2c0,0,0-0.1,0-0.1
				c0,0,0-0.1-0.1-0.1c0,0-0.1,0-0.2,0h-0.1v-0.6h2.1v0.6h-0.1c-0.2,0-0.4,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.5,0.4l-0.8,0.8l1.2,1.6
				c0.3,0.4,0.6,0.6,1,0.6h0.1v0.6h-2.4v-0.6h0.1c0.1,0,0.1,0,0.2,0c0,0,0.1-0.1,0.1-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.2l-0.9-1.3
				v1.1c0,0.2,0,0.4,0.1,0.5c0,0.1,0.1,0.1,0.3,0.1h0.1h0v0.6H76.9z" />
                            <path class="st1" d="M83.9,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5
				c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h2.2v0.6h0c-0.2,0-0.3,0-0.4,0.1c0,0.1-0.1,0.2-0.1,0.5l0,0.9l0.9-1.1l0.1-0.2c0,0,0-0.1,0-0.1
				c0,0,0-0.1-0.1-0.1c0,0-0.1,0-0.2,0h-0.1v-0.6h2.1v0.6h-0.1c-0.2,0-0.4,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.5,0.4l-0.8,0.8l1.2,1.6
				c0.3,0.4,0.6,0.6,1,0.6h0.1v0.6h-2.4v-0.6h0.1c0.1,0,0.1,0,0.2,0s0.1-0.1,0.1-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.2l-0.9-1.3v1.1
				c0,0.2,0,0.4,0.1,0.5c0,0.1,0.1,0.1,0.3,0.1h0.1h0v0.6H83.9z" />
                            <path class="st1" d="M89,68.3v-0.6h2.2v0.6h-0.1c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v2c0,0.4,0.1,0.7,0.2,0.8
				c0.1,0.1,0.3,0.2,0.5,0.2c0.1,0,0.2,0,0.3-0.1s0.2-0.1,0.2-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.2c0-0.1,0-0.2,0-0.2v-0.2v-1.9
				c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.3-0.1h-0.1h-0.1v-0.6h1.9v0.6h0c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v1.9
				c0,0.4,0,0.7-0.1,0.8c-0.1,0.2-0.1,0.3-0.3,0.5c-0.1,0.1-0.3,0.2-0.5,0.3c-0.2,0.1-0.5,0.1-0.7,0.1c-0.6,0-1-0.1-1.3-0.4
				c-0.3-0.3-0.4-0.7-0.4-1.2v-2c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H89z" />
                            <path class="st1" d="M95.4,69.8h0.2c0.4,0,0.6-0.1,0.8-0.2c0.2-0.1,0.2-0.3,0.2-0.5c0-0.3-0.1-0.4-0.3-0.6
				c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.3-0.1-0.4-0.1h-0.2V69.8z M93.7,72.4v-0.6h0h0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.1-0.2,0.1-0.5
				v-2.4c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1h-0.1v-0.6h1.9c0.2,0,0.3,0,0.4,0c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0.1,0.5,0.1
				c0.3,0.1,0.5,0.3,0.7,0.5c0.2,0.2,0.2,0.5,0.2,0.7c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.4-0.7,0.4l0.6,1.1
				c0.1,0.2,0.2,0.3,0.3,0.3c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.4,0v0.6h-1.6l-0.9-2h-0.3v0.8c0,0.2,0,0.4,0.1,0.5
				c0.1,0.1,0.2,0.1,0.4,0.1h0.1H96v0.6H93.7z" />
                            <path class="st1" d="M98.4,68.3v-0.6h2.2v0.6h-0.1c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v2c0,0.4,0.1,0.7,0.2,0.8
				c0.1,0.1,0.3,0.2,0.5,0.2c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.2c0-0.1,0-0.2,0-0.2
				v-0.2v-1.9c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.3-0.1H101h-0.1v-0.6h1.9v0.6h0c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5
				v1.9c0,0.4,0,0.7-0.1,0.8c-0.1,0.2-0.1,0.3-0.3,0.5c-0.1,0.1-0.3,0.2-0.5,0.3c-0.2,0.1-0.5,0.1-0.7,0.1c-0.6,0-1-0.1-1.3-0.4
				c-0.3-0.3-0.4-0.7-0.4-1.2v-2c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H98.4z" />
                            <path class="st1" d="M104.3,71.3c0,0.2,0,0.4,0.1,0.5c0.1,0.1,0.2,0.1,0.4,0.1h0.1h0.1v0.6H103v-0.6l0,0h0c0.3,0,0.4,0,0.5-0.1
				c0.1-0.1,0.1-0.2,0.1-0.5v-2.4c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H103v-0.6h2.1l0.8,2.6l0.8-2.6h2v0.6h0
				c-0.2,0-0.4,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.4v2.4c0,0.2,0,0.4,0.1,0.5c0.1,0.1,0.2,0.1,0.4,0.1h0.1h0.1v0.6h-2.2v-0.6l0,0h0
				c0.2,0,0.4,0,0.4-0.1c0.1-0.1,0.1-0.2,0.1-0.5v-2.6l-1.1,3.7h-0.4l-1.1-3.8V71.3z" />
                            <path class="st1" d="M109,68.3v-0.6h2.2v0.6h-0.1c-0.2,0-0.3,0-0.4,0.1c-0.1,0.1-0.1,0.2-0.1,0.5v2c0,0.4,0.1,0.7,0.2,0.8
				c0.1,0.1,0.3,0.2,0.5,0.2c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.2c0-0.1,0.1-0.1,0.1-0.2c0,0,0-0.1,0-0.2c0-0.1,0-0.2,0-0.2
				v-0.2v-1.9c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.3-0.1h-0.1h-0.1v-0.6h1.9v0.6h0c-0.2,0-0.4,0-0.5,0.1c-0.1,0.1-0.1,0.2-0.1,0.5
				v1.9c0,0.4,0,0.7-0.1,0.8c-0.1,0.2-0.1,0.3-0.3,0.5c-0.1,0.1-0.3,0.2-0.5,0.3c-0.2,0.1-0.5,0.1-0.7,0.1c-0.6,0-1-0.1-1.3-0.4
				c-0.3-0.3-0.4-0.7-0.4-1.2v-2c0-0.2,0-0.4-0.1-0.5c-0.1-0.1-0.2-0.1-0.4-0.1H109z" />
            </g>
            </svg>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Welcome to Social Security Institution! 👋</h4>
                        <p class="mb-4">Please log in to your account.</p>

                        <form id="formAuthentication" class="mb-3" action="" method="POST">
                            <div class="mb-3">
                                <label for="email" class="form-label">TC Kimlik No</label>
                                <input type="text" asp-for="TcKimlikNo" class="form-control" id="TcKimlikNo" name="TcKimlikNo" placeholder="TC Kimlik No Giriniz!" autofocus>
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Şifre</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" asp-for="PassWord" id="Password" class="form-control" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me">
                                    <label class="form-check-label" for="remember-me">
                                        Hatırla
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Giriş Yap</button>
                            </div>
                            @if (!string.IsNullOrEmpty(errorMessage))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @errorMessage
                                </div>
                            }
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/vendor/libs/jquery/jquery.js"></script>
    <script src="/vendor/libs/popper/popper.js"></script>
    <script src="/vendor/js/bootstrap.js"></script>
    <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/libs/hammer/hammer.js"></script>
    <script src="/vendor/libs/i18n/i18n.js"></script>
    <script src="/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="/vendor/libs/%40form-validation/popular.js"></script>
    <script src="/vendor/libs/%40form-validation/bootstrap5.js"></script>
    <script src="/vendor/libs/%40form-validation/auto-focus.js"></script>

    <!-- Main JS -->
    <script src="/js/main.js"></script>


    <!-- Page JS -->
    <script src="/js/pages-auth.js"></script>

</body>
</html>

<!-- beautify ignore:end -->
